In [1]:
import pandas as pd

In [27]:
df1=pd.read_csv("/Users/sayanbanerjee/Downloads/Data analysis projects/Data analysis colab file/Dataset/Book dataset/books.csv")

In [12]:
df1.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0
1,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...,0
2,32,890,890,40283,373,142000671,9.780142e+12,John Steinbeck,1937.0,Of Mice and Men,...,1518741,24642,46630,110856,355169,532291,473795,https://images.gr-assets.com/books/1437235233m...,https://images.gr-assets.com/books/1437235233s...,0
3,58,2956,2956,1835605,2277,142437174,9.780142e+12,"Mark Twain, John Seelye, Guy Cardwell",1884.0,The Adventures of Huckleberry Finn,...,1001491,12448,28467,76630,255722,344356,296316,https://images.gr-assets.com/books/1405973850m...,https://images.gr-assets.com/books/1405973850s...,0
4,66,18405,18405,3358283,409,446675539,9.780447e+12,Margaret Mitchell,1936.0,Gone with the Wind,...,897303,16050,19996,33136,116160,234290,493721,https://images.gr-assets.com/books/1328025229m...,https://images.gr-assets.com/books/1328025229s...,0

# 1. How many books do not have an original title?

In [13]:
len(df1[df1['original_title'].isnull()])

22

# 2. How many unique books are present in the dataset ?

In [9]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [10]:
df1['book_id'].nunique()

615

# 3. How many unique users are present in the dataset [ratings.csv] ?

In [14]:
df2=pd.read_csv("/Users/sayanbanerjee/Downloads/Data analysis projects/Data analysis colab file/Dataset/Book dataset/ratings.csv")

In [15]:
df2.head()

   user_id  book_id  rating
0        2     4081       4
1        4       58       4
2        4        5       4
3        4        8       4
4        4      476       3

In [16]:
df2['user_id'].nunique()

45965

# 4. Which book (title) has the maximum number of ratings based on ‘work_ratings_count’ ?

In [17]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [24]:
df1['title']

0                                       The Great Gatsby
1                                 The Catcher in the Rye
2                                        Of Mice and Men
3                     The Adventures of Huckleberry Finn
4                                     Gone with the Wind
                             ...
610                                          The Pacific
611                                The Measure of a Lady
612                                  A Theory of Justice
613                                   Billy Budd, Sailor
614    Means of Ascent (The Years of Lyndon Johnson, #2)
Name: title, Length: 615, dtype: object

In [28]:
df1[df1['work_ratings_count'].max()==df1['work_ratings_count']]['title']

0    The Great Gatsby
Name: title, dtype: object

In [26]:
df1['work_ratings_count'].dtype

dtype('int64')

# 5. Which tag_id  is the most frequently used ie. mapped with the highest number of books ?

In [30]:
df3=pd.read_csv("/Users/sayanbanerjee/Downloads/Data analysis projects/Data analysis colab file/Dataset/Book dataset/book_tags.csv")

In [31]:
df3.head()

   goodreads_book_id  tag_id  count
0                 25   30574    816
1                 25   15048    603
2                 25   21773    540
3                 25   19733    354
4                 25   10891    154

In [33]:
df3[df3['count'].max()==df3['count']]['tag_id']

19200    30574
Name: tag_id, dtype: int64

# 6. Which book (title) has the most number of counts of tags given by the user ?

In [34]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [37]:
books_combined=pd.merge(df1,df3,left_on='goodreads_book_id', right_on='goodreads_book_id', how='left')

In [38]:
books_combined.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,tag_id,count
0,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,7457,32061
1,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,11557,20851
2,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,11743,15360
3,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,7404,5662
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,5207,3607

In [40]:
df1.shape

(615, 24)

In [41]:
books_combined[books_combined['count'].max()==books_combined['count']]['title']

400    Gone with the Wind
Name: title, dtype: object

# 7. Which book (goodreads_book_id) is marked as to-read by most users?

In [43]:
df4=pd.read_csv("/Users/sayanbanerjee/Downloads/Data analysis projects/Data analysis colab file/Dataset/Book dataset/toread.csv")

In [44]:
df4.head()

   user_id  book_id
0        9        8
1       15      398
2       34      483
3       34     3581
4       29      131

In [45]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [49]:
books_toread_combo=pd.merge(df1,df4,left_on='book_id', right_on='book_id', how='left')

In [50]:
books_toread_combo.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,user_id
0,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,124
1,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,1453
2,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,1582
3,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,1935
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,2965

# 8. Which is the least used tag, i.e. mapped with the lowest number of books ?

In [51]:
df3.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [54]:
df3[df3['count'].min()==df3['count']]['tag_id'].sort_values(ascending=True).head()

38886     49
38899     64
42278     68
42294     96
46891    773
Name: tag_id, dtype: int64

In [56]:
# 49 is the number as it has the numerical value as per question.

# 9. Which book (title) has the minimum ‘average_rating’ ?

In [57]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [59]:
df1[df1['average_rating'].min()==df1['average_rating']]['title']

463    To Rise Again at a Decent Hour
Name: title, dtype: object

# 10. Which book (goodreads_book_id) has the least number of count of tags given by the user ?

In [60]:
books_combined.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish', 'tag_id', 'count'],
      dtype='object')

In [62]:
res=books_combined[books_combined['count'].min()==books_combined['count']]['goodreads_book_id']

In [64]:
res.unique()

array([2918374,  207781,   21323,  369110,   65336, 1022866])

# 11. How many tags are there in the dataset?

In [65]:
df3.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [66]:
df3.head()

   goodreads_book_id  tag_id  count
0                 25   30574    816
1                 25   15048    603
2                 25   21773    540
3                 25   19733    354
4                 25   10891    154

In [68]:
len(df3['tag_id'])

62000

# 12. What is the average rating of all the books in the dataset based on ‘average_rating?

In [69]:
df1['average_rating'].mean()

3.9437073170731693

# 13. Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’ ?

In [70]:
df1.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [71]:
len(df1['original_publication_year']==2000)

615

# 15. Plot a bar chart in Flourish with top 20 unique tags  in descending order of ‘user records’ (the number of users tagged the given tag_id with the goodreads_book_id)

In [73]:
df3.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [84]:
df3['tag_id'].unique()

array([30574, 15048, 21773, ...,   896,  4358,  5342])